.contacts {
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-areas:
    'address map'
    'contactsBlock map';

  gap: 40px 100px;
}

.contacts__address {
  grid-area: address;
}

.contacts-block {
  grid-area: contactsBlock;
}

.contacts__map {
  grid-area: map;
}

.contacts__address h4,
.contacts-block h4 {
  margin-bottom: 20px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.contacts__item p {
  margin-bottom: 10px;
}

.contacts .login__button {
  padding: 16px 62px;
  margin-top: 50px;
}

.contacts .phone a,
.contacts .mail a {
  padding-left: 26px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: left center;

}

.contacts .phone a {

  background-image: url(../images/contacts/phone-icon.svg);

}

.contacts .mail a {
  background-image: url(../images/contacts/mail-icon.svg);

}

.contacts__map {
  width: 100%;
}

@media (max-width:1199px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-areas:
      'address'
      'map'
      'contactsBlock';
  }

  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts__item {
    /* margin-right: auto; */
  }

  .contacts__map {
    height: 550px;
  }
}

@media (max-width:767px) {
  .contacts__map {
    height: 400px;
  }

  .contacts .login__button {
    padding: 16px 0;
    margin-top: 40px;
    width: 100%;
  }

  .contacts-block h4 {
    margin-bottom: 10px;
  }
}

@media (max-width:575px) {
  .contacts__map {
    height: 300px;
  }
}

/* <feedback> */

.feedback {
  padding: 60px 70px;
  background: url(../images/bg-7.svg) no-repeat 50% center /480px,
    linear-gradient(90deg, #C4C4C4 50%, rgba(196, 196, 196, 0) 72%),
    url(../images/contacts/form-bg.jpg) no-repeat right top /contain;
}

.feedback h2 {
  margin-bottom: 30px;
}

.feedback__form .custom-choice input+label::before {
  border-color: var(--white);
}

.feedback__form .custom-choice input:checked+label::before {
  border-color: var(--orange);
}

.wrapper__choice {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  margin-bottom: 40px;
}

.wrapper__input {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.wrapper__input .custom-input {
  width: 100%;
  margin: 0;
}

.feedback__form {
  max-width: 680px;
}

.feedback__textarea {
  resize: none;
  padding: 16px 30px;
  width: 100%;
  height: 100%;
  min-height: 130px;

  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--black);
  border: 1px solid var(--black);
}

.feedback__textarea::placeholder {

  color: var(--black);
}

.feedback__textarea:focus {
  outline: none;
}

.wrapper__button {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.wrapper__button .explanation {
  max-width: 300px;

}

@media (max-width: 991px) {
  .feedback {
    padding: 60px 7vw;
    background: url(../images/bg-7.svg) no-repeat 70% center /300px,
      linear-gradient(90deg, #C4C4C4 50%, rgba(196, 196, 196, 0) 90%),
      url(../images/contacts/form-bg.jpg) no-repeat 20vw top /cover;
  }
}

@media (max-width: 767px) {
  .section__feedback {
    background: url(../images/bg-7.svg) no-repeat 100% 60% /300px,
      linear-gradient(180deg, #C4C4C4 30%, rgba(196, 196, 196, 0) 60%),
      url(../images/contacts/form-bg.jpg) no-repeat center 22vw /cover;
  }

  .feedback {
    padding: 60px 0;
    padding-top: 40px;
    background: none;
  }

  .wrapper__button {
    flex-direction: column;
  }

  .feedback__textarea {
    padding: 14px 20px;
    min-height: 110px;
    font-size: 12px;

  }
}

@media (max-width: 575px) {


  .wrapper__choice,
  .wrapper__input {
    flex-direction: column;

    margin-bottom: 20px;
  }
}

/* </feedback> */