/* <section-top-course> */

.main-title {
  background: url(../images/course/bg-2.png) no-repeat center right/380px,
    url(../images/bg-6.svg) no-repeat center right/380px;
  padding-bottom: 40px;
  margin: 0;
  border: none;
}

.main-title h2,
.main-title p {
  max-width: 70%;
}

.parametrs-course__list {
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 14px 110px;
}

.parametrs-course__item p {
  position: relative;
  padding-left: 29px;
  margin-bottom: 10px;
}

.parametrs-course__item p::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 9px;
  height: 9px;
  background-color: var(--orange);
  border-radius: 50%;
  transform: translateY(-50%);
}

.parametrs-course__wrapper-price {
  display: flex;
  align-items: center;
  gap: 8px;

}

.price .old-price {
  text-decoration: line-through;
  padding-right: 15px;
  display: inline-block;
}

.price .new-price {
  color: var(--orange-dark);
  display: inline-block;
}

.parametrs-course__wrapper-price .percent-price {
  color: var(--white);
  background-color: var(--orange);
  border-radius: 6px;
  padding: 0 6px;
}

.training-format__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 30px;
}

.training-format__item {
  background-color: var(--gray-light);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-repeat: no-repeat;
  background-position: top left;
}

.training-format__item .training-format__bg {
  width: 79px;
  height: 79px;

  border-radius: 50%;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-position: 50%;

}

.training-format__item:nth-child(1) {
  background-image: url(../images/course/training-format-bg-1.svg);
}

.training-format__item:nth-child(1) .training-format__bg {
  background-color: var(--orange-dark);
  background-image: url(../images/course/training-format-icon-1.svg);
}

.training-format__item:nth-child(2) {
  background-image: url(../images/course/training-format-bg-2.svg);
}

.training-format__item:nth-child(2) .training-format__bg {
  background-color: var(--green-dark);
  background-image: url(../images/course/training-format-icon-2.svg);
}

.training-format__item:nth-child(3) {
  background-image: url(../images/course/training-format-bg-3.svg);
}

.training-format__item:nth-child(3) .training-format__bg {
  background-color: var(--green);
  background-image: url(../images/course/training-format-icon-3.svg);
}

.training-format__item:nth-child(4) {
  background-image: url(../images/course/training-format-bg-4.svg);
}

.training-format__item:nth-child(4) .training-format__bg {
  background-color: var(--gray-dark);
  background-image: url(../images/course/training-format-icon-4.svg);
}

.training-format__item h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}

.start-learning {
  display: flex;
  background-color: var(--gray-light);
  padding: 50px 60px;
  gap: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.start-learning .input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.start-learning .custom-input {
  margin: 0;
  flex-grow: 1;
}

.start-learning .explanation {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline;
}

.start-learning .btn {
  flex-grow: 0;
  flex-shrink: 0;
}

.section__parametrs-course {
  margin-bottom: 60px;
}

.section__training-format {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .main-title {
    background-size: 30%;
  }

  .parametrs-course__list {
    gap: 14px 4vw;
  }

  .training-format__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 2.5vw;
  }

  .training-format__item {
    gap: 20px;
  }

  .training-format__item h5 {
    margin: 0 auto;
  }

  .start-learning {
    flex-wrap: wrap;
  }

  .start-learning .explanation {
    order: 1;
  }
}

@media (max-width: 991px) {
  .start-learning .input__wrapper {
    width: 100%;
  }

  .start-learning {
    gap: 20px 0;
  }

  .start-learning .btn {
    order: 2;
    flex-basis: 241px;
  }

  .start-learning .explanation {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .main-title {
    background: none;
    padding-bottom: 30px;
  }

  .main-title h2,
  .main-title p {
    max-width: inherit;
  }

  .parametrs-course__list h4 {
    font-size: 16px;
  }

  .parametrs-course__item p::after {
    width: 8px;
    height: 8px;
  }

  .training-format__item {
    background-size: 200px;
  }


  .training-format__item .training-format__bg {
    width: 52px;
    height: 52px;
  }

  .section__start-learning {
    background-color: var(--gray-light);
  }

  .start-learning {
    flex-direction: column;
    padding: 60px 0;
  }

  .start-learning .btn {
    flex-basis: inherit;
    width: 100%;
    margin-top: 10px;
  }

  .start-learning .input__wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .section__parametrs-course,
  .section__training-format {
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .main-title {
    background: url(../images/course/bg-2.png) no-repeat bottom center/100%,
      url(../images/bg-6.svg) no-repeat bottom center/100%;
    padding-bottom: 75vw;
    margin: 0;
    border: none;
    margin-bottom: 40px;
  }

  .parametrs-course__item {
    width: 100%;
  }

  .training-format__list {
    grid-template-columns: 1fr;
  }

  .training-format__item h5 {
    font-size: 12px;
  }
}

/* </section-top-course> */

/* <complete-training> */
.complete-training h2 {
  margin-bottom: 20px;
}

.complete-training h3 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .complete-training h3 {
    margin-bottom: 30px;
  }
}

/* </complete-training> */

/* <problem-course> */
.problem-course__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.problem-course__item {
  background-color: var(--gray-light);
  background-image: url(../images/course/course-bg-1.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 400px;
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
}

.problem-course__item .problem-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.problem-course__item .problem-icon svg {
  width: 18px;
  height: 18px;
}

.problem-course__item:nth-child(1) .problem-icon svg {
  fill: var(--orange);
}

.problem-course__item:nth-child(2) .problem-icon svg {
  fill: var(--green-dark);
}

.problem-course__item:nth-child(3) .problem-icon svg {
  fill: var(--green);
}

.problem-course__item h4 {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .problem-course__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .problem-course__list {
    grid-template-columns: 1fr;
  }

  .problem-course__item {
    padding: 40px 20px;
    background-size: 300px;
  }

  .problem-course__item .problem-icon {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-bottom: 18px;
  }

  .problem-course__item .problem-icon svg {
    width: 13px;
    height: 13px;
  }

  .problem-course__item h4 {
    font-size: 16px;
    margin-bottom: 12px;
  }

}

/* </problem-course> */

/* <who-course> */
.who-course h2 {
  margin-bottom: 20px;
}

.who-course h3 {
  margin-bottom: 60px;
}

.who-course__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.who-course__item {
  background-image: url(../images/course/course-bg-2.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 400px;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.who-course__item:nth-child(1) {
  background-color: var(--orange-dark);
}

.who-course__item:nth-child(1) .who-course__bg {
  border-color: var(--orange-dark);
}

.who-course__item:nth-child(1) .who-course__bg svg {
  fill: var(--orange-dark);
}

.who-course__item:nth-child(2) {
  background-color: var(--green-dark);
}

.who-course__item:nth-child(2) .who-course__bg {
  border-color: var(--green-dark);
}

.who-course__item:nth-child(2) .who-course__bg svg {
  fill: var(--green-dark);
}

.who-course__item:nth-child(3) {
  background-color: var(--green);
}

.who-course__item:nth-child(3) .who-course__bg {
  border-color: var(--green);
}

.who-course__item:nth-child(3) .who-course__bg svg {
  fill: var(--green);
}

.who-course__item .who-course__wrapper {
  width: 124px;
  height: 124px;
  position: relative;
  margin-bottom: 20px;
}

.who-course__item .who-course__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.who-course__wrapper .who-course__bg {
  position: absolute;
  bottom: 10px;
  right: -10px;
  width: 39px;
  height: 39px;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.who-course__item h4 {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .who-course__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .who-course h3 {
    margin-bottom: 33px;
  }

  .who-course__list {
    grid-template-columns: 1fr;
  }

  .who-course__item {
    padding: 30px;
    background-size: 300px;
  }

  .who-course__item .who-course__wrapper {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
  }

  .who-course__item h4 {
    margin-bottom: 10px;
  }

  .who-course__wrapper .who-course__bg {

    bottom: 5px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-width: 3px;
  }

  .who-course__item .who-course__bg svg {
    width: 8px;
    height: 8px;
  }
}

/* </who-course> */

/* <programm-course__table> */
.programm-course__table {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.table-row {
  display: grid;
  grid-template-columns: minmax(auto, 520px) 1fr;
}

.table-cell__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.table-cell {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.table-text {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px;

  padding-left: 38px;
}

.table-text__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.table-num {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-left: 10px;
}

.table-text.clock {
  background-image: url(../images/course/clock-icon.svg);
}

.table-text.certificate {
  background-image: url(../images/course/certificate-icon.svg);
}

.table-text.lectures {
  background-image: url(../images/course/lectures-icon.svg);
}

.table-text.practical {
  background-image: url(../images/course/practical-icon.svg);
}

.table-text.tests {
  background-image: url(../images/course/tests-icon.svg);
}

.programm-course__link {
  background-color: var(--gray);
  padding: 18px 0;
  text-align: center;
  color: var(--white);
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;

  transition: background-color .3s;
}

.programm-course__link:hover,
.programm-course__link:active {
  background-color: var(--gray-dark);
}

@media (max-width: 1199px) {
  .table-row {
    grid-template-columns: 1fr;
  }

  .table-cell__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .table-cell {
    padding: 20px;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .table-row {
    grid-template-columns: 1fr;
  }

  .table-cell__wrapper {
    grid-template-columns: 1fr;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 20px;
  }





  .table-cell {
    padding: 0;
    border: none;
    gap: 0;
  }

  .table-text {
    margin-bottom: 4px;
    padding-left: 20px;
    background-size: 15px;
  }

  .table__title {
    padding: 20px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }

  .table-text__title {
    font-size: 12px;
  }

  .table-num {
    font-size: 15px;
  }

  .programm-course__link {
    padding: 15px 0;
    font-size: 16px;
  }
}

/* </programm-course__table> */

/* <diploma-certificate> */
.diploma-certificate .diploma-certificate-slider__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.diploma-certificate .diploma-certificate-slider__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diploma-certificate-slider__list img {
  max-height: 200px;
}

.diploma-certificate h2 {
  margin-bottom: 20px;
}

.diploma-certificate>h3 {
  margin-bottom: 60px;
}

.diploma-certificate__inner {
  display: grid;
  grid-template-areas: 'diplomaMain diplomaTitle'
    'diplomaMain diplomaAnnex';
  gap: 0 5vw;

  margin-bottom: 100px;
}

.diploma-certificate__inner .wrapper__title {
  grid-area: diplomaTitle;
}

.diploma-certificate__main {
  grid-area: diplomaMain;
  align-self: end;
}

.diploma-certificate__annex {
  grid-area: diplomaAnnex;
  align-self: end;
}

.diploma-certificate__inner .wrapper__title h3 {
  margin-bottom: 10px;
}

.diploma-certificate__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.diploma-certificate__description {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 20px;
}

.diploma-certificate__description::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--orange);
  flex-grow: 0;
  flex-shrink: 0;
}

.diploma-certificate__description::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.diploma-certificate__main img {
  max-height: 27vw;
  height: 100%;
}

.diploma-certificate__annex img {
  max-height: 240px;
  height: 100%;
}

.diploma-certificate__optional {
  display: flex;
  margin-bottom: 140px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.diploma-certificate__optional:last-child {
  margin-bottom: 0px;

}

.optional__bg {
  width: 40%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 320px;
}


.diploma-certificate__optional h3 {
  margin-bottom: 10px;
}

.diploma-certificate__optional h5 {
  margin-bottom: 30px;
}

.diploma-certificate__tools .optional__bg {
  background-image: url(../images/course/course-bg-3.png), url(../images/course/course-bg-4.svg);
  background-position: right center;
}

.diploma-certificate__record .optional__bg {
  background-image: url(../images/course/course-bg-5.png),
    url(../images/course/course-bg-6.svg);
  background-position: left center;
}


.optional-content {
  position: relative;
  padding: 40px 100px;
  border: 1px solid var(--gray);
  width: 60%;
  background-color: var(--white);
}

.optional-content::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  top: 0;

  background-color: var(--white);
  border: 0;

  transform-origin: center;

}

.optional-content::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  top: 50%;
  background-color: var(--white);
  border-top: 1px solid var(--gray);
  border-right: 1px solid var(--gray);

  transform-origin: center;
}

.diploma-certificate__tools .optional-content::after {
  right: 0;
}

.diploma-certificate__tools .optional-content::before {
  right: 0;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.diploma-certificate__record .optional-content::after {
  left: 0;
}

.diploma-certificate__record .optional-content::before {
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

.optional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.optional__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 14px;
}

.optional__item::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;

  background-color: var(--orange);
  border-radius: 50%;
  transform: translateY(-50%);
}


@media (min-width: 1400px) {
  .diploma-certificate__inner {
    gap: 0 70px;
  }
}

@media (max-width: 1199px) {
  .diploma-certificate__inner {
    display: grid;
    grid-template-areas: 'diplomaTitle'
      'diplomaMain '
      ' diplomaAnnex';
    gap: 30px;
  }

  .diploma-certificate__list {
    justify-content: start;
  }

  .diploma-certificate__optional {
    margin-bottom: 10vw;

  }
}

@media (max-width: 991px) {


  .diploma-certificate__main img,
  .diploma-certificate__annex img {
    max-height: 37vw;
  }

  .diploma-certificate__optional {
    flex-direction: column;
  }

  .diploma-certificate__optional .optional-content {
    width: 100%;
    padding: 30px 25px;
    order: 1;
  }

  .optional-content::after {
    width: 100%;
    height: 2px;
  }

  .optional-content::before {
    top: 0;
    right: 50%;
    width: 25px;
    height: 25px;
    border-right: none;
    border-left: 1px solid var(--gray);
  }

  .diploma-certificate__tools .optional-content::before {
    right: 50%;
  }

  .diploma-certificate__record .optional-content::after {
    left: 0;
  }

  .diploma-certificate__record .optional-content::before {
    left: inherit;
    transform: translateX(50%) translateY(-50%) rotate(45deg);
  }

  .diploma-certificate__optional .optional__bg {
    width: 100%;
    background-position: center;
  }

}


@media (max-width: 575px) {
  .diploma-certificate__optional h3 {
    font-size: 16px;
  }

  .diploma-certificate__optional h5 {
    font-size: 12px;
  }

  .optional__item {
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .optional__item::before {
    width: 6px;
    height: 6px;
  }

  .diploma-certificate-list__wrapper {
    display: none;
  }

  .diploma-certificate .diploma-certificate-slider__list {
    display: flex;
  }

  .diploma-certificate__inner {
    display: flex;
    flex-direction: column;
  }


}

/* </diploma-certificate> */

/* <installment> */
.section__installment {
  background-color: var(--gray-dark);
  padding: 230px 0;
  background: url(../images/course/course-bg-7.svg) no-repeat 0 center/ 800px,
    url(../images/course/course-bg-8.svg) no-repeat 100% center/ 800px,
    var(--gray-dark);
}

.installment {
  background-color: var(--white);
  padding: 80px;
}

.installment h2 {
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.installment>h4 {
  margin-bottom: 20px;
}

.installment__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--black);
}

.installment__description .parametrs-course__list {
  gap: 20px 0;
  justify-content: space-between;
  padding-right: 40px;
}

.installment__description .installment__payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  position: relative;
}

.installment-payment__text .subtext {
  color: var(--orange-dark);
}


.installment__description .installment__payment::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: var(--gray-dark);
}

.installment__description .installment-payment__price {
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  padding: 7px 18px;

  flex-shrink: 0;

  background-color: var(--gray-light);
  border-radius: 10px;
}

.installment__form {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 400px);
  gap: 20px 33px;
}

.installment__form .input__wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.installment__form .input__wrapper .custom-input {
  max-width: 330px;
  width: 100%;
  margin-bottom: 0;
}


.installment__form .btn {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

@media (max-width: 1400px) {
  .section__installment {
    background: url(../images/course/course-bg-7.svg) no-repeat -30% 100%/ 70vw,
      url(../images/course/course-bg-8.svg) no-repeat 130% 0/ 70vw,
      var(--gray-dark);
  }

  .installment__description .installment-payment__price {
    font-size: 4vw;
  }
}

@media (max-width: 1199px) {
  .section__installment {
    padding: 15vw 0;
  }
}

@media (max-width: 991px) {
  .installment__description {
    grid-template-columns: 1fr;
  }

  .installment__description .parametrs-course__list {
    padding-right: 0;
  }

  .installment__description .installment__payment {
    display: none;
  }

  .installment__form {
    grid-template-columns: 1fr;
    gap: 20px 33px;
  }

  .installment__form .input__wrapper .custom-input {
    max-width: 100%;
  }

  .installment__form .btn {
    padding: 18px 10px;
    order: 1;
  }

  .installment__form .input__wrapper {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .section__installment {
    padding: 60px 0;
  }

  .installment h2 {
    margin-bottom: 12px;
  }

  .installment>h4 {
    margin-bottom: 25px;
  }

  .installment {
    background-color: var(--white);
    padding: 30px 24px;
  }

  .installment__description {
    padding-bottom: 28px;
    margin-bottom: 15px;
  }

  .installment__description .parametrs-course__list {
    gap: 12px;
  }

  .installment__form {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .installment__form .input__wrapper {
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
  }

  .installment__form .btn {
    font-weight: 700;
    font-size: 16px;
  }

  .installment>h4 {
    font-size: 16px;
  }
}

/* </installment> */

/* <review-slider> */
.slick-track {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px; */
  margin: 0 auto;
  height: 400px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;



  /* display: flex;*/
  /* align-items: center; */
  /* justify-content: space-between; */
  /* gap: 40px; */

}

.slick-arrow {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  z-index: 20;
  background-image: url(../images/arrow-gray-icon.svg);
  background-color: var(--gray-light);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 20px; */
  cursor: pointer;

  transform: translateY(-50%);

  transition: background-color .3s, background-image .3s;
}

.slick-arrow:hover {

  background-image: url(../images/arrow-white-icon.svg);
  background-color: var(--orange);
}

.arrow-prev {
  left: 280px;
  transform: translateY(-50%) rotate(180deg);
}

.arrow-next {
  right: 280px;
}

.reviews__item {
  max-width: 255px;
  margin: 0 20px;
}

.slick-initialized .slick-slide.reviews__item {
  display: flex;
  align-items: center;
}

.reviews__item .review-item__header {

  width: 248px;
  height: 255px;
}

.reviews__item .reviews-item__description {
  /* display: none; */

  width: 0;
  opacity: 0;

  transition: opacity .3s, width .3s;
}

.reviews__item.slick-center {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;


  max-width: 700px;
}

.reviews__item.slick-center .review-item__header {

  margin-right: -25px;
  flex-shrink: 0;
  z-index: 10;

}

.reviews__item.slick-center .reviews-item__description {

  /* display: block; */
  width: 100%;
  opacity: 1;
  border: 1px solid var(--black);
  padding: 40px 60px;
}

.reviews__item.slick-center .reviews-item__description .inner-description {
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-header__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  color: var(--white);
  height: 100%;
}

.review-header__desc .link {
  color: var(--white);
}

.review-header__desc .link:hover,
.review-header__desc .link:active {
  color: var(--gray);
}

.reviews__item.slick-center .review-header__desc {
  display: none;
}

.reviews__item:nth-child(3n-2) .review-item__header {
  background-color: var(--green-dark);
}

.reviews__item:nth-child(3n-1) .review-item__header {
  background-color: var(--green-dark);
}

.reviews__item:nth-child(3n) .review-item__header {
  background-color: var(--orange-dark);
}

.swiper {
  width: 100%;
  height: 300px;
}

@media (max-width: 1350px) {
  .reviews__item.slick-center {
    max-width: inherit;
  }

  .reviews__item {

    max-width: inherit;
  }

  .arrow-prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }

  .arrow-next {
    right: 0;
  }

  .reviews__item .reviews-item__description {
    width: auto;
    opacity: 1;
  }
  .review-item__header .review-header__desc{
    display: none;
  }
}

@media (max-width: 767px) {
  .slick-dots {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 10px;

  }

  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: var(--gray);
  }

  .slick-dots li.slick-active button {
    background: var(--orange);
  }

  .reviews__item {
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s;
  }

  .reviews__item.slick-center {
    opacity: 1;
  }

  .reviews__item .review-item__header,
  .reviews__item.slick-center .review-item__header {
    margin: 0;
    width: 88px;
    height: 88px;
    margin-bottom: -50px;
  }

  .reviews__list .reviews__item .reviews-item__description {
    padding: 40px 30px;
    padding-top: 70px;

  }

  .reviews__item.slick-center .reviews-item__description .inner-description {
    height: auto;
  }

  .reviews__item {
    margin: 0;
  }

  .slick-track {
    height: auto;
    margin-bottom: 20px;
  }

  .slick-initialized .slick-slide.reviews__item {
    height: auto;
  }
  .inner-description {
    align-items: center;
  }
  .inner-description h3{
    margin-bottom: 12px;
  }
  .inner-description .subtext{
    margin-bottom: 30px;
  }
}

/* </review-slider> */