.information-organization {
  display: grid;
  grid-template-columns: 370px 1fr;
  gap: 40px;
}


table {
  border: 1px solid var(--black);
  width: 100%;
  border-collapse: collapse;
}

table p {
  margin-bottom: 30px;
}

table p:last-child {
  margin-bottom: 0;
}

tbody {
  border-bottom: 1px solid var(--black);
  padding: 30px;
  display: block;
}

table tbody:last-child {
  border: none;
}

th {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
  width: 100%;
  display: block;
}

tr {
  width: 100%;
  display: block;
}

td {
  padding-top: 20px;
}

.information-organization__phone {
  text-decoration: none;
}

.information-organization__phone:hover {
  text-decoration: underline;
}

.information-organization__mail {
  text-decoration: none;
  color: var(--orange-dark);
}

.information-organization__mail:hover {
  text-decoration: underline;

}

@media (max-width: 991px) {
  .information-organization {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (max-width: 767px) {
  table h4 {
    font-size: 16px;
  }

  table p {
    margin-bottom: 20px;
  }

  tbody {
    padding: 10px;
  }

  th {
    padding-bottom: 10px;
  }

  td {
    padding-top: 10px;
  }
}