:root {
  --black: #151515;
  --white: #fff;
  --orange: #d1966b;
  --orange-dark: #B1805C;
  --gray: #c4c4c4;
  --gray-light: #f3f3f3;
  --gray-dark: #6B7D7C;
  --green: #5E7865;
  --green-dark: #004C4C;
  --red: #d12c2c
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--black);
}

section {
  margin-bottom: 140px;
}

section.last {
  margin-bottom: 100px;
}



input::placeholder {
  color: var(--black);
}

a {
  color: inherit;
}

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 28px;
  }
}

.noscroll {
  overflow: hidden;
  position: absolute;

  height: 100%;
  width: 100%;
}



h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;

  margin-top: 0;
  margin-bottom: 40px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 60px;
}

h3 {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}


h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  padding: 0;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 160%;
}

.text {
  font-size: 16px;
}

.subtext {
  font-size: 14px;
}

a.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
  color: var(--black);

  text-decoration: underline;

  transition: color .3s;
}

a.link:hover,
a.link:active {
  color: var(--orange-dark);
}

.explanation {
  font-size: 10px;
  line-height: 120%;
}

.btn {
  display: inline-block;
  padding: 18px 40px;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  text-align: center;
  border: none;

  transition: background-color .3s;
}

.btn:hover,
.btn:active {
  background-color: var(--orange-dark);
}

.btn-transparent {
  display: inline-block;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  padding: 16px 40px;
  background-color: transparent;

  text-decoration: none;


  transition: background-color .3s, color .3s;
}

.btn-transparent:hover,
.btn-transparent:active {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}

.btn-filter {
  font-size: 14px;
  padding: 7px 16px;
  font-weight: 400;
}

.btn-clear {
  background-color: var(--gray-dark);
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding: 7px 16px 7px 34px;
}

.btn-clear:hover {
  background-color: var(--green-dark);
}

.close__btn {
  width: 26px;
  height: 21px;
  padding: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: background-color .3s;
}

.close__btn::after,
.close__btn::before {
  flex-shrink: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--orange);

  transition: background-color .3s;
}

.close__btn::before {
  transform: translateY(50%) rotate(-45deg);
}

.close__btn::after {
  transform: translateY(-50%) rotate(45deg);
}

.close__btn:hover::after,
.close__btn:hover::before {
  background-color: var(--orange-dark);
}

.close__btn:hover {
  background-color: transparent;
}

.custom-scroll {
  scrollbar-width: 4px;
  scrollbar-color: var(--orange) var(--gray);
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--gray);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border: none;
}

.breadcrumbs {
  margin-bottom: 30px;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.breadcrumbs__item {
  padding: 0 14px;
  position: relative;
  display: inline;
}

.breadcrumbs__item::after {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--gray);
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.breadcrumbs__item:first-child {
  padding-left: 0;
}
.breadcrumbs__item:last-child {
  padding-right: 0;
}
.breadcrumbs__item:last-child a{
  cursor: default;
}

.breadcrumbs__item:last-child a:hover,
.breadcrumbs__item:last-child a:active {
  padding-right: 0;
  color: var(--black);
  cursor: default;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__item p {
  transition: color .3s;
  display: inline;
}

.breadcrumbs__item a:hover,
.breadcrumbs__item a:active {
  color: var(--orange);
}

.breadcrumbs__item a {
  text-decoration: none;
}

@media (max-width:1199px) {
  section {
    margin-bottom: 11.6vw;
  }

  section.last {
    margin-bottom: 8vw;
  }

  h2 {
    font-size: 4vw;
    line-height: 120%;
    margin: 0;
    margin-bottom: 5vw;
  }
}

@media (max-width:991px) {
  h3 {
    font-size: 3.2vw;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 8vw;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 2.35vw;
  }

  .text {
    font-size: 2vw;
  }

  .btn {
    font-size: 16px;
    padding: 16px 35px;
  }

  .btn-transparent {
    font-size: 16px;
  }

  .btn-filter {
    font-size: 11px;
    padding: 8px 12px;
  }

  .btn-clear {
    background-position: 12px center;
    background-size: 8px;

    font-size: 11px;
    line-height: 140%;
    padding: 8px 12px 8px 28px;
  }

  .close__btn {
    width: 16px;
    height: 14px;
  }

  .close__btn::before,
  .close__btn::after {
    height: 2px;
  }

  .breadcrumbs {
    margin-bottom: 20px;
  }

  .breadcrumbs__item {
    padding: 0 12px;
  }


}

@media (max-width: 575px) {
  section {
    margin-bottom: 60px;
  }

  section.last {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 28px;
    line-height: 110%;
  }

  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }

  .text {
    font-size: 12px;
  }

  .subtext {
    font-size: 11px;
    line-height: 140%;
  }

  a.link {
    font-size: 14px;
  }

  .breadcrumbs__item::after {
    transform: translateY(0);
  }
}

@media (max-height:400px) {
  .close__btn {
    width: 16px;
    height: 14px;
  }

  .close__btn::before,
  .close__btn::after {
    height: 2px;
  }
}

/* <custom input> */
.custom-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  position: relative;
  margin-bottom: 20px;
}

.custom-input input {
  border: 1px solid var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  padding: 24px 30px 10px 30px;

  outline: none;

}


.custom-input .label-inner {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  position: absolute;
  top: 50%;
  left: 30px;
  color: var(--black);
  transform: translateY(-50%);
  margin: 0;
  cursor: text;

  transition: transform 0.3s, font-size .3s;

}

.custom-input input:focus~.label-inner,
.custom-input input:not(:placeholder-shown)~.label-inner {
  font-size: 10px;
  line-height: 120%;
  color: var(--orange-dark);
  transform: translateY(-20px);
}


.custom-input .message {
  position: absolute;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: var(--red);
  bottom: 0;
  left: 0;
  padding-left: 16px;
  background: url(../images/close-icon.svg) no-repeat left center/ 10px;

  transform: translateY(calc(100% + 4px));
  display: none;
}


.custom-input._error input {
  border-color: var(--red);
  color: var(--red);
}

.custom-input._error label.label-inner {
  color: var(--red);
}

.custom-input._error .message {
  display: block;
}

.custom-input input::placeholder {
  color: transparent;
}

@media (max-width: 767px) {
  .custom-input {
    margin-bottom: 10px;
  }

  .custom-input input {
    font-size: 12px;
    padding: 20px 20px 6px 20px;
  }

  .custom-input .label-inner {
    font-size: 12px;
    left: 20px;
  }

  .custom-input input:focus~.label-inner,
  .custom-input input:not(:placeholder-shown)~.label-inner {
    transform: translateY(-14px);
  }

  .custom-input._error {
    margin-bottom: 15px;
  }

  .custom-input .message {
    transform: translateY(100%);
    display: none;
  }
}

/* </custom input> */

/* <HEADER> */
.header {
  padding-top: 14px;
  margin-bottom: 50px;
}

.header__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 65px 130px 135px 1fr auto auto auto auto auto;
  grid-template-rows: 40px 40px;
  gap: 4px 1vw;

  grid-template-areas:
    'logo logoTitle logoSubtitle nav phone login searchButton personalButton menuButton'
    'logo . . . . . . . .';
}

/* <search> */
.header__wrapper.search {
  grid-template-columns: 65px 130px 135px 1fr auto;

  grid-template-areas:
    'logo logoTitle logoSubtitle searchBlock  menuButton'
    'logo . . . .';

  position: relative;
}

.header__wrapper.search .nav,
.header__wrapper.search .phone,
.header__wrapper.search .login__button,
.header__wrapper.search .personal__button,
.header__wrapper.search .search__button {
  display: none;
}

.header__wrapper.search .search-block {
  display: flex;
  z-index: 100;
}

.header .search-block {
  display: none;
  height: 100%;
  height: 54px;
  gap: 10px;
  align-items: center;
  margin-right: 30px;
}

.header .search-block .search__wrapper {
  width: 100%;
  display: flex;
  padding: 5px;
  border: 1px solid #000;
  align-items: center;
}

.header .search__wrapper .search__input {
  width: 100%;
  padding: 8px 20px;
  font-weight: 400;
  line-height: 160%;
  border: none;
  color: var(--black);
}

.header .search__wrapper .search__input::placeholder {
  font-family: 'Roboto';
  border: none;
  color: var(--black);
}

.header .search__wrapper .search__input:focus {
  outline: none;
}

.header .search__wrapper .search-block__button {
  padding: 0 20px;
  align-self: stretch;
}

.header .search-block .search-block__button.mobile {
  display: none;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.header .search-block .close__btn {
  width: 54px;
  height: 54px;
  border: none;
  background-color: var(--gray);

  flex-shrink: 0;
}

.header .search-block .close__btn:hover,
.header .search-block .close__btn:active {
  background-color: var(--orange);
}

.header .search-block .close__btn::after,
.header .search-block .close__btn::before {
  width: 25px;
  background-color: var(--white);
}

@media (min-width:1400px) {
  .header__wrapper {
    gap: 4px 10px;
  }
}

@media (max-width: 1199px) {
  .header__wrapper.search {
    grid-template-columns: 65px 130px 1fr auto;
    grid-template-areas:
      'logo logoTitle searchBlock menuButton'
      'logo logoSubtitle searchBlock menuButton';
  }
}

@media (max-width: 767px) {
  .header__wrapper.search {
    grid-template-columns: 65px 200px 1fr auto auto auto;
    grid-template-areas:
      'logo logoTitle . searchButton personalButton menuButton'
      'logo logoSubtitle . searchButton personalButton menuButton';
  }


  .header__wrapper.search .personal__button,
  .header__wrapper.search .search__button {
    display: flex;
  }

  .header__wrapper.search .search-block {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 15px 0;
    height: auto;
    background-color: var(--white);
    gap: 4px;
    margin-right: 0;
  }

  .header .search-block .search__wrapper {
    padding: 0px;
    border: none;
    gap: 4px;
  }

  .header .search__wrapper .search__input {
    padding: 8px 14px;
    border: 1px solid var(--black);
  }

  .header .search-block .search-block__button {
    display: none;
  }

  .header .search-block .search-block__button.mobile {
    display: flex;

  }

  .header .search-block .search-block__button.mobile,
  .header .search-block .close__btn {
    width: 36px;
    height: 36px;

    padding: 0;

    flex-shrink: 0;
    flex-grow: 0;
  }

}

@media (max-width: 575px) {
  .header__wrapper.search {
    grid-template-columns: 37px 120px 1fr auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      'logo logoTitle . searchButton personalButton menuButton'
      'logo logoSubtitle . searchButton personalButton menuButton';
  }
}

/* </search> */

.header .logo {
  grid-area: logo;
  height: 100%;
}

.header .logo__title {
  grid-area: logoTitle;
}

.header .logo__subtitle {
  grid-area: logoSubtitle;
}

.header .nav {
  grid-area: nav;
  align-self: baseline;
}

.header .phone {
  grid-area: phone;
}

.header .login__button {
  grid-area: login;
}


.header .search__button {
  grid-area: searchButton;
}

.header .search-block {
  grid-area: searchBlock;
}

.header .personal__button {
  grid-area: personalButton;
}

.header .menu__button {
  grid-area: menuButton;
}


.logo img {
  width: 100%;
  height: 100%;
}

.logo__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
}

.logo__title a,
.logo__subtitle a {
  text-decoration: none;
}

.logo__subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: var(--orange-dark);

  transition: color .3s;
}

.logo__subtitle:hover,
.logo__subtitle:active {
  color: var(--orange);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 120%;

  display: flex;
  flex-wrap: wrap;
  gap: 6px 16px;
  justify-content: center;

}

.nav li a {
  padding: 8px 28px;
  border: 1px solid var(--gray);
  border-radius: 45px 45px 0px 45px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;

  transition: border .3s;
}

.nav li a.active {
  border: 1px solid var(--orange-dark);
  cursor: default;
  background-color: var(--orange);
  color: var(--white);
}

.nav li a:hover,
.nav li a:active {
  border: 1px solid var(--orange-dark);
}

.phone {
  display: block;
  white-space: nowrap;
}

.phone a,
.mail a {
  text-decoration: none;
}

.header .search__button,
.header .personal__button,
.header .menu__button {
  height: 23px;
  width: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  align-self: center;
}

.header .login__button {
  padding: 10px 21px;
  height: auto;
  width: auto;
  background-color: var(--gray-light);
  border: none;
  cursor: pointer;

  transition: background-color .3s;
}

.header .login__button:hover,
.header .login__button:active {
  background-color: var(--gray);

}

.header .menu__button {
  position: relative;
  width: 26px;
  height: 21px;
}

.header .menu__button span,
.header .menu__button::after,
.header .menu__button::before {
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  display: block;
  left: 0;

  transition: opacity .3s, color .3s;
}

.header .menu__button:hover span,
.header .menu__button:hover::after,
.header .menu__button:hover::before,
.header .menu__button:active span,
.header .menu__button:active::after,
.header .menu__button:active::before {
  background-color: var(--orange-dark);
}

.header .menu__button::after {
  content: '';
  position: absolute;
  top: 0;


  transition: transform .3s, top .3s;
}

.header .menu__button::before {
  position: absolute;
  content: '';
  bottom: 0;

  transition: transform .3s, bottom .3s;
}

.header .menu__button.active span {
  opacity: 0;
}

.header .menu__button.active::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.header .menu__button.active::before {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

.search__button:hover svg,
.search__button:active svg,
.personal__button:hover svg,
.personal__button:active svg {
  fill: var(--orange-dark);
}

@media (max-width: 1300px) {
  .nav ul {
    font-size: 16px;
    gap: 6 0.5vw;
  }
}

@media (max-width: 1199px) {
  .header__wrapper {
    grid-template-areas:
      'logo logoTitle nav nav phone login searchButton personalButton menuButton'
      'logo logoSubtitle nav nav phone login searchButton personalButton menuButton';
  }

  .nav ul {
    font-size: 18px;
  }

  .header .logo__title {
    align-self: end;
  }

  .header .logo__subtitle {
    align-self: start;
  }

}

@media (max-width: 991px) {
  .header {
    margin-bottom: 40px;
  }

  .header__wrapper {
    grid-template-areas:
      'logo logoTitle nav nav . login searchButton personalButton menuButton'
      'logo logoSubtitle nav nav . phone searchButton personalButton menuButton';
  }

  .nav ul {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    grid-template-columns: 65px 200px 1fr auto auto auto;
    grid-template-areas:
      'logo logoTitle . searchButton personalButton menuButton'
      'logo logoSubtitle . searchButton personalButton menuButton';
  }


  .header .nav,
  .header .phone,
  .header .login__button {
    display: none;
  }

  .search__button svg,
  .personal__button svg {
    fill: var(--orange-dark);
  }

}

@media (max-width: 575px) {
  .header {
    margin-bottom: 20px;
  }

  .header__wrapper {
    grid-template-columns: 37px 120px 1fr auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      'logo logoTitle . searchButton personalButton menuButton'
      'logo logoSubtitle . searchButton personalButton menuButton';
  }

  .header .logo__title,
  .header .logo__subtitle {
    font-size: 6px;
  }
}

/* </HEADER> */


/* <FOOTER> */
.footer__wrapper {
  font-size: 18px;
  display: grid;
  grid-template-columns: 88px 1% 260px 1% 1fr 2% auto 3% auto;
  /* grid-template-rows: 44px 44px; */
  align-items: flex-start;

  grid-template-areas:
    'flogo . flogoTitle . fnav . fphone . flogin'
    'flogo . flogoSubtitle . confed . fphone . social';
}

.footer .logo {
  grid-area: flogo;
}

.footer .logo__title {
  grid-area: flogoTitle;
}

.footer .logo__subtitle {
  grid-area: flogoSubtitle;
}

.footer .footer__nav {
  grid-area: fnav;
}

.footer .confed {
  grid-area: confed;
}

.footer .phone__list {
  grid-area: fphone;
}

.footer .login__button {
  grid-area: flogin;
}

.footer .social__list {
  grid-area: social;
}

.footer .logo__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
}

.footer .logo__subtitle {

  font-size: 14px;
  line-height: 160%;
  color: var(--orange-dark);
}

.footer__nav ul,
.confed {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
  padding: 0;
  margin: 0;
}

.footer__nav li {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
}

.footer__nav li:hover,
.footer__nav li:active {
  color: var(--orange-dark);
}

.confed li {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--gray-dark);
  cursor: pointer;

  text-decoration-line: underline;
}

.confed li:hover,
.confed li:active {
  color: var(--orange-dark);

}

.phone__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;

  align-self: center;

}



.phone__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: var(--gray-dark);
  padding: 0;
  margin: 0;

  display: block;
}

.login__button {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 16px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--black);

  transition: background-color .3s, color .3s;
}

.login__button svg,
.login__button svg {
  fill: var(--black);

  transition: fill .3s;
}

.login__button:hover,
.login__button:active {
  color: var(--white);
  background-color: var(--black);
}

.login__button:hover svg,
.login__button:active svg {
  fill: var(--white);
}

.social__list {
  align-self: end;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 12px;

}

.social__list li {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.social__list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.social__list li:hover svg {
  fill: var(--orange);

  transition: fill .3s;
}

.social__list li:hover svg,
.social__list li:hover svg {
  fill: var(--orange-dark);
}

@media (max-width: 1199px) {
  .footer__wrapper {
    grid-template-columns: 88px 1% 200px 200px auto;
    gap: 10px 0;
    grid-template-areas:
      'flogo . flogoTitle fnav fnav  '
      'flogo . flogoSubtitle confed confed '
      '. . fphone fphone fphone '
      '. . social  flogin  . ';
  }

  .footer .logo__title,
  .footer .logo__subtitle {
    font-size: 12px;
  }


  .phone__list {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 991px) {
  .footer__wrapper {
    grid-template-columns: 88px 200px 200px 1fr;
    gap: 20px 20px;

    grid-template-areas:
      'flogo  flogoTitle  fnav fnav '
      'flogo  flogoSubtitle fnav fnav'

      '. confed  confed  confed  '
      ' . fphone fphone   fphone  '
      '.  flogin  social .';
  }

  .footer__nav ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    grid-template-columns: 88px auto;
    gap: 10px 18px;

    grid-template-areas:
      'flogo  flogoTitle'
      'flogo  flogoSubtitle'
      ' fnav fnav'

      'confed  confed  '
      ' fphone   fphone  '
      ' flogin flogin'
      ' social social';
  }


  .footer .logo__title,
  .footer .logo__subtitle {
    max-width: 180px;
  }

  .footer__nav ul {
    grid-template-columns: 1fr 1fr;
  }

  .social__list {
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  .footer__wrapper {
    grid-template-columns: 66px auto;
    gap: 0 18px;
  }

  .footer .logo__title,
  .footer .logo__subtitle {
    font-size: 9px;
  }

  .footer .logo__title {
    align-self: start;
  }

  .footer__nav ul,
  .phone__list {
    grid-template-columns: 1fr;
  }

  .footer .logo,
  .footer .footer__nav,
  .footer .login__button {
    margin-bottom: 20px;
  }

  .confed {
    display: none;
  }

  .phone__list {
    gap: 10px;
    margin-bottom: 30px;
  }


  .social__list {
    justify-content: start;
  }
}

/* </FOOTER> */

/* <popup__menu> */
.popup__menu {
  background-color: var(--white);

  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

  display: none;

  overflow: hidden;
}

.popup__menu .container {
  height: 100%;
}

.popup__menu.active {
  visibility: visible;
  z-index: 50;
  display: block;
}

.popup__menu.animate__fadeInDown {
  --animate-duration: .3s;
}

.popup-menu__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.popup__menu .menu {
  display: flex;
  /* height: 100%; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.category-psy__list,
.nav-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
}

.category-psy__list {
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  color: var(--gray);
}

.category-psy__list a {
  text-decoration: none;
}

.category-psy__item {
  cursor: pointer;
  border-top: 1px solid var(--gray);
  padding: 20px 0;

  transition: color .3s, border-color .3s;
}

.category-psy__item:last-child {
  border-bottom: 1px solid var(--gray);
}

.category-psy__item:hover,
.category-psy__item:active {
  color: var(--orange-dark);
  border-color: var(--orange-dark);
}

.category-psy__item:hover+li,
.category-psy__item:active+li {
  border-top-color: var(--orange-dark);
}


.nav-menu__list {
  color: var(--gray);
  gap: 20px;

}

.nav-menu__item a {
  text-decoration: none;

  display: block;
}

.nav-menu__item {
  transition: color .3s;
}

.nav-menu__item.active a {
  color: var(--black);
  cursor: default;
}

.nav-menu__item:hover,
.nav-menu__item:active {
  color: var(--black);
}

.popup__menu .social__list {
  align-self: start;
}

.popup-menu__wrapper .nav {
  display: none;
}

.popup__menu .login__button {
  width: 100%;
  display: none;
}

.popup__menu .phone {
  display: none;
}

@media (max-width: 1199px) {
  .category-psy__list {
    font-size: 5vw;
  }

  .category-psy__item {
    padding: 1.7vw 0;
  }

  .nav-menu__list {
    gap: 1.7vw;

  }
}

@media (max-width: 767px) {
  .popup-menu__wrapper {
    justify-content: stretch;
    align-items: stretch;
    padding-top: 30px;
  }

  .category-psy__list {
    display: none;
  }

  .nav-menu__list {
    overflow-y: auto;
    width: 100%;
    gap: 12px;
    margin-bottom: 20px;
  }

  .popup-menu__wrapper .nav {
    display: flex;
    margin-bottom: 25px;
  }

  .popup__menu .login__button {
    display: flex;
    margin-bottom: 20px;
  }

  .popup__menu .phone {
    display: block;
    align-self: center;
  }

  .popup__menu .social__list {
    display: none;
  }
}

@media (max-width: 575px) {
  .nav-menu__list {
    position: relative;
    max-height: 222px;
    /* box-shadow: inset 0 -50px 10px 10px gold;

    background: linear-gradient(0deg, #dadada -18.04%, rgba(255, 255, 255, 0) 20%); */
  }
}

@media (max-height: 670px) {
  .popup-menu__wrapper {
    overflow-y: scroll;
  }

  .popup__menu .menu {
    justify-content: center;
    /* max-height: 670px; */
  }

  .category-psy__list {
    font-size: 20px;
  }

  .category-psy__item {
    padding: 10px 0;
  }

  .nav-menu__list {
    gap: 4px;
    max-height: 200px;
    overflow-y: scroll;
  }

  .nav-menu__list h3 {
    font-size: 18px;


  }
}

/* </popup__menu> */

/* <popup> */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  background-color: rgba(107, 125, 124, 0.3);
  backdrop-filter: blur(5px);
  /* -webkit-filter: blur(10px) saturate(2); */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  visibility: hidden;
  z-index: -1;

  animation-duration: .3s;
}

/* .popup::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;


  -webkit-filter: blur(10px) saturate(1);
} */

.popup.active {
  visibility: visible;
  z-index: 100;
}

.popup__content {
  box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  padding: 100px 111px;
  max-width: 900px;
  width: 100%;
  position: relative;
  display: none;
}

.popup__content.active {
  display: block;
}

.popup__content .close__btn {
  position: absolute;

  top: 30px;
  right: 20px;
}

.popup__content .input__wrapper {
  gap: 0 20px;
}

.popup__content h2 {
  margin-bottom: 12px;
}

.popup__content h4 {
  margin-bottom: 30px;
}

.popup .btn {
  margin-bottom: 20px;
}

.wrapper__button {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.popup__content.complete {
  background-image: url(../images/bg-3.png);
  background-repeat: no-repeat;
  background-position: center 60px;
  background-size: auto 200px;
}

.popup .complete__message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;

  display: none;

}

.popup .complete__title {
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
}


@media (max-width: 1199px) {
  .popup__content {
    padding: 8vw 9vw;
  }

  .popup .complete__title {
    font-size: 5vw;
  }

}

@media (max-width:767px) {

  .popup__content {
    padding: 40px 24px;
  }

  .popup__content .close__btn {
    top: 10px;
    right: 10px;
    width: 16px;
    height: 14px;
  }

  .popup__content h4 {
    font-size: 16px;
  }

  .popup .wrapper__button {
    gap: 20px;

  }

  .popup .btn {
    margin-bottom: 0;
  }
}

@media (max-width:575px) {

  .popup .wrapper__button {
    flex-direction: column;

    align-items: stretch;
  }

  .popup .btn {
    margin-bottom: 0;
  }

  .popup .complete__title {
    font-size: 26px;
  }

}

@media (max-height:400px) {

  .popup__content {
    background-color: red;
    padding: 10px;
  }

  .popup__content .close__btn {
    top: 10px;
    right: 10px;
    width: 16px;
    height: 14px;
  }
}

/* </popup> */

/* <main-title> */
.main-title {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--gray);
}

.main-title h2 {
  margin: 0;
}

.main-title p {
  padding-top: 30px;
}

@media (max-width: 991px) {
  .main-title {
    padding-bottom: 5vw;
    margin-bottom: 5vw;
  }

  .main-title p {
    padding-top: 20px;
  }
}

@media (max-width: 575px) {
  .main-title {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* </main-title> */

/* <slider> */
.dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--gray);
  cursor: pointer;

  transition: background-color .3s;
}

.dot--active {
  background-color: var(--orange);
}


/* </slider> */


/* <teachers--slider> */
.teachers--slider h2 {
  margin-bottom: 20px;
}

.teachers--slider h3 {
  margin-bottom: 60px;
}

.wrapper__teachers-slider {
  padding: 0 110px;
}

.teachers--slider .navigation-wrapper {
  position: relative
}

.teachers--slider .teachers-item__description .description__education {
  background-color: var(--gray-dark);
  color: var(--white);
}

.teachers--slider .arrow {
  position: absolute;
  background-color: var(--gray);
  width: 60px;
  height: 100%;
  top: 0%;
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  transition: background-color .3s;
}

.teachers--slider .arrow:hover,
.teachers--slider .arrow:active {
  background-color: var(--orange);

}

.teachers--slider .arrow--left {
  left: 0;
  transform: translateX(-110px) rotate(180deg);


}

.teachers--slider .arrow--right {
  right: 0;
  transform: translateX(110px);
}

.teachers--slider .dots {
  display: none;
}


@media (max-width: 1199px) {
  .wrapper__teachers-slider {
    padding: 0 7vw;
  }

  .teachers--slider .arrow--left {
    left: 0;
    transform: translateX(-7vw) rotate(180deg);
  }

  .teachers--slider .arrow--right {
    right: 0;
    transform: translateX(7vw);
  }

  .wrapper__teachers-slider {
    padding: 0;
  }

  .teachers--slider .arrow {
    display: none;
  }

  .teachers--slider .dots {
    display: flex;
  }
}


@media (max-width: 991px) {
  .teachers--slider .teachers__item {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .teachers--slider .teachers__item {
    flex-direction: row;
  }

  .teachers--slider .teachers__item .wrapper-arrow {
    background-color: var(--orange);
  }

  .teachers--slider .teachers__item .wrapper-arrow svg {
    fill: var(--white);
  }

  .teachers--slider .teachers__item {
    border: 1px solid var(--black);
  }

  .teachers--slider h2 {
    margin-bottom: 18px;
  }
  
  .teachers--slider h3 {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .teachers--slider .teachers__item {
    flex-direction: column;
  }
}

/* </teachers--slider> */


/* <teachers> */
.teachers__list {
  padding: 0;
  margin: 0;
  list-style: none;

}

.teachers__item {
  padding: 24px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  gap: 24px;
  position: relative;
}

.teachers__item:hover {
  border: 1px solid var(--black);
}

.teachers__item img {
  object-fit: cover;
  max-width: 224px;
  max-height: 250px;
}

.teachers-item__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.teachers-item__description h4 {
  margin-bottom: 10px;
}

.teachers-item__link {
  text-decoration: none;
}

.teachers-item__link::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.teachers-item__description .description__education {
  padding: 2px 8px;
  background-color: var(--gray-light);
  color: var(--black);
}

.teachers-item__description p {
  margin-bottom: 10px;
}

.teachers-item__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--gray);
  padding-top: 12px;
}

.teachers-item__footer p {
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 0;
}

.teachers-item__footer .wrapper-arrow {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .3s;
}

.teachers-item__footer .wrapper-arrow svg {
  fill: var(--gray);

  transition: fill .3s;
}

.teachers__item:hover .wrapper-arrow {
  background-color: var(--orange);
}

.teachers__item:hover .wrapper-arrow svg {
  fill: var(--white);
}

@media (max-width: 1199px) {
  .teachers__item {
    padding: 2vw;
    gap: 2vw;
  }
}

@media (max-width: 991px) {
  .teachers__item {
    padding: 24px;
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .teachers__item {
    flex-direction: row;
  }


}

@media (max-width: 575px) {
  .teachers__item {
    padding: 19px;
    gap: 12px;
    flex-direction: column;
  }
}

/* </teachers> */

/* <custom-choice> */
.custom-choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  gap: 10px;

  font-weight: 400;
  line-height: 160%;
  font-size: 14px;
}

.custom-choice a {
  color: var(--gray);
}

.custom-choice input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.custom-choice input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: 10px;
  cursor: pointer;
}


.custom-choice input+label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--gray);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
  background-image: none;

  transition: border-color .3s, background-image .3s, background-color .3s;
}

.custom-choice input[type="radio"]+label::before {
  border-radius: 50%;
  background-size: 6px 6px;
}

.custom-choice input[type="radio"]+label:hover::before {
  background-image: url(../images/custom-input/radio--hover.svg);
}

.custom-choice input[type="checkbox"]+label:hover::before {
  background-image: url(../images/custom-input/checkbox--hover.svg);
}



.custom-choice input:checked+label::before {
  border-color: var(--orange);
  background-color: var(--orange);
}

.custom-choice input[type="radio"]:checked+label::before {
  background-image: url(../images/custom-input/radio--checked.svg);
}

.custom-choice input[type="checkbox"]:checked+label::before {
  background-image: url(../images/custom-input/checkbox--checked.svg);
}

@media (max-width: 575px) {

  .custom-choice a,
  .custom-choice input+label {
    font-size: 11px;
    line-height: 140%;
  }
}

@media (hover: none) {

  .custom-choice input[type="radio"]+label:hover::before,
  .custom-choice input[type="checkbox"]+label:hover::before {
    background-image: none;
  }

  .custom-choice input[type="radio"]:checked+label::before {
    background-image: url(../images/custom-input/radio--checked.svg);
  }

  .custom-choice input[type="checkbox"]:checked+label::before {
    background-image: url(../images/custom-input/checkbox--checked.svg);
  }
}

/* </custom-choice> */

/* <custom-range> */
.custom-range {
  /* border: 1px solid blue; */
}

.track {
  position: relative;
  width: 100%;
  height: 2px;

  background-color: var(--gray);

  user-select: none;
}

.value-between {
  position: absolute;

  left: 10px;
  right: 20px;
  height: 100%;

  background-color: var(--orange);
}

.output {
  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(-50%);
}
.output.oL {
  transform: translateX(-50%);
}
.output.oR {
  transform: translateX(50%);
}

.thumb {
  width: 8px;
  height: 8px;
  border: 3px solid #D1966B;
  background-color: #D1966B;
  border-radius: 50%;
  transform-origin: center;

  cursor: w-resize;
  transform: translateY(-50%);
}

.thumb:hover {
  width: 10px;
  height: 10px;

  border-color: #B1805C;
  background-color: white;

  cursor: pointer;
}


.view {

  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #C4C4C4;

  /* transform: translate(-50%, 0); */
}

/* </custom-range> */

/* <how-training> */
.how-training__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;

  counter-reset: number;
}

.how-training__item {
  padding: 100px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.how-training__current { 
  width: 80px;
  height: 80px;
  background: url(../images/about-us/how-training-bg.png) no-repeat center/ contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 30px;

  position: relative;
}

.how-training__current::before{
  content: "0" counter(number);
	counter-increment: number;
  position: absolute;
}

/* Удалить после решения какую картинку оставлять */
.how-training__item:first-child .how-training__current {
  background: url(../images/about-us/how-training-bg.svg) no-repeat center/ contain;
}

/*  */

.how-training__item:nth-child(3n-2) {
  background-color: var(--orange-dark);

}

.how-training__item:nth-child(3n-1) {
  background-color: var(--green-dark);
}

.how-training__item:nth-child(3n) {
  background-color: var(--green);
}

@media (max-width: 1199px) {
  .how-training__item {
    padding: 6vw 5vw;
  }
}

@media (max-width: 991px) {
  .how-training__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .how-training__item {
    padding: 10vw 6vw;
  }
}

@media (max-width: 767px) {
  .how-training__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .how-training__item {
    padding: 10vw 6vw;
  }

}

@media (max-width: 575px) {


  .how-training__item {
    padding: 60px 33px;
  }

  .how-training__current {
    width: 65px;
    height: 65px;
    font-size: 30px;
    margin-bottom: 20px;
  }
}


/* </how-training> */

/* <help-choice> */
.section__help-choice {
  background: url(../images/bg-1.svg) no-repeat 70% center /480px,
    linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%),
    url(../images/help-choice-bg.jpg) no-repeat 20vw top /cover;
}

.help-choice {
  max-width: 80%;
  color: var(--white);
  padding: 240px 0;
}

.help-choice__subtitle {
  max-width: 500px;
  margin-bottom: 60px;
}

@media (min-width: 2000px) {
  .section__help-choice {
    background: url(../images/bg-1.svg) no-repeat center center /480px,
      linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%),
      url(../images/help-choice-bg.jpg) no-repeat 30vw top/cover;
  }
}

@media (max-width: 1199px) {
  .help-choice {
    padding: 20vw 0;
  }
}

@media (max-width: 767px) {
  .section__help-choice {
    background: url(../images/bg-1.svg) no-repeat 90% 80% /300px,
      linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%),
      url(../images/help-choice-bg.jpg) no-repeat 10vw top/cover;
  }
}

@media (max-width: 575px) {
  .section__help-choice {
    background: linear-gradient(180deg, #798073 20vw, rgba(121, 128, 115, 0.296863) 80%, rgba(121, 128, 115, 0) 98.73%),
      url(../images/help-choice-bg.jpg) no-repeat center 20vw/cover;
  }

  .help-choice {
    max-width: 100%;
    padding-bottom: 110px;
    background: none;
  }

  .help-choice__subtitle {
    max-width: 500px;
    margin-bottom: 80px;
  }

  .help-choice .btn {
    display: block;
  }
}

/* </help-choice> */