:root {
  --black: #151515;
  --white: #fff;
  --orange: #d1966b;
  --orange-dark: #B1805C;
  --gray: #c4c4c4;
  --gray-light: #f3f3f3;
  --gray-dark: #6B7D7C;
  --green: #5E7865;
  --green-dark: #004C4C;
  --red: #d12c2c
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--black);
}

section {
  margin-bottom: 140px;
}

a {
  color: inherit;
}

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
}



h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;

  margin-top: 0;
  margin-bottom: 40px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 60px;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  padding: 0;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 160%;
}

.text {
  font-size: 16px;
}

.subtext {
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 18px 40px;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  text-align: center;

  transition: background-color .3s;
}

.btn:hover,
.btn:active {
  background-color: var(--orange-dark);
}

.btn-transparent {
  display: inline-block;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  padding: 16px 40px;
  background-color: transparent;

  text-decoration: none;


  transition: background-color .3s, color .3s;
}

.btn-transparent:hover,
.btn-transparent:active {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}

@media (max-width:1199px) {
  h2 {
    font-size: 4vw;
    line-height: 120%;
    margin: 0;
    margin-bottom: 5vw;
  }
}

@media (max-width: 767px) {
  section {
    margin-bottom: 60px;
  }

  h1 {
    font-size: 8vw;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 2vw;
  }

  .text {
    font-size: 2vw;
  }

  .btn-transparent {
    font-size: 16px;
  }

}

@media (max-width: 575px) {
  h1 {
    font-size: 28px;
    line-height: 110%;
  }

  h5 {
    font-size: 15px;
  }

  .text {
    font-size: 12px;
  }

  .subtext {
    font-size: 11px;
    line-height: 140%;
  }

  .btn {
    font-size: 16px;
  }

}

/* <HEADER> */
.header {
  margin-top: 14px;
  margin-bottom: 100px;
}

.header__wrapper {
  display: grid;
  align-items: end;
  grid-template-columns: 65px 1% 130px 1% 135px 1fr auto 1% auto auto;
  grid-template-rows: 40px 8px 40px;

  grid-template-areas:
    'logo . logoTitle . logoSubtitle nav phone . login btngroup'
    'logo . . . . nav phone . login btngroup'
    'logo . . . . nav . . . .';
}



.header .logo {
  grid-area: logo;
  height: 100%;
}

.header .logo__title {
  grid-area: logoTitle;
}

.header .logo__subtitle {
  grid-area: logoSubtitle;
}

.header .nav {
  grid-area: nav;
  align-self: center;
}

.header .phone {
  grid-area: phone;
}

.header .login__button {
  grid-area: login;
}

.button__group {
  grid-area: btngroup;
  display: flex;
}

.logo img {
  width: 100%;
}

.logo__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
}

.logo__subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: var(--orange-dark);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 120%;

  display: flex;
  flex-wrap: wrap;
  gap: 6px 16px;
  justify-content: center;

}

.nav li {
  padding: 8px 28px;
  border: 1px solid var(--gray);
  border-radius: 45px 45px 0px 45px;
  cursor: pointer;

  transition: border .3s;
}

.nav li:hover {
  border: 1px solid var(--orange-dark);
}

.phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.header .btn {
  height: 23px;
  width: 28px;
  padding: 2px;

  margin-left: 1vw;
  background: none;
  border: none;
  align-self: center;
}

.header .login__button {
  padding: 10px 21px;
  height: auto;
  width: auto;

  /* margin-left: 1vw; */
  background: var(--gray-light);
  border: none;
}

.toggle__button {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.toggle__button span {
  background-color: var(--orange);
  height: 3px;
  display: block;
  width: 100%;
}

.toggle__button.active {
  justify-content: center;
}

.toggle__button.active span:nth-child(1) {
  transform: translateY(100%) rotate(45deg);
}

.toggle__button.active span:nth-child(2) {
  opacity: 0;
  z-index: -1;
}

.toggle__button.active span:nth-child(3) {
  transform: translateY(-100%) rotate(-45deg);
}

@media (max-width: 1199px) {
  .header__wrapper {
    grid-template-areas:
      'logo . logoTitle . nav nav phone . login btngroup'
      'logo . logoSubtitle . nav nav phone . login btngroup'
      'logo . logoSubtitle . nav nav . . . .';
  }
}

@media (max-width: 991px) {
  .header {
    margin-bottom: 40px;
  }

  .header__wrapper {
    grid-template-areas:
      'logo . logoTitle . nav nav nav . login btngroup'
      'logo . logoSubtitle . nav nav nav . login btngroup'
      'logo . logoSubtitle . nav nav nav . phone phone';
  }

  .nav ul {
    font-size: 14px;
  }

  .nav li {
    padding: 6px 15px;
    border: 1px solid var(--gray);
    border-radius: 45px 45px 0px 45px;
    cursor: pointer;

    transition: border .3s;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    gap: 10px 0;
    grid-template-columns: 65px 10px 200px 1% auto;
    grid-template-rows: auto;

    grid-template-areas:
      'logo . logoTitle . btngroup'
      'logo . logoSubtitle . btngroup';
  }


  .header .nav,
  .header .phone,
  .header .login__button {
    display: none;
  }

  .header .logo__subtitle {
    align-self: start;
  }

  .button__group {
    align-self: center;
    justify-self: end;
  }

}

@media (max-width: 575px) {
  .header {
    margin-bottom: 20px;
  }

  .header__wrapper {
    grid-template-columns: 37px 10px minmax(auto, 120px) 1% auto;
    grid-template-rows: auto;
    gap: 4px 0;
    grid-template-areas:
      'logo . logoTitle . btngroup'
      'logo . logoSubtitle . btngroup';
  }

  .header .logo__title,
  .header .logo__subtitle {
    font-size: 6px;
  }
}

/* </HEADER> */


/* <FOOTER> */
.footer__wrapper {
  font-size: 18px;
  display: grid;
  grid-template-columns: 88px 1% 260px 1% 1fr 2% auto 3% auto;
  /* grid-template-rows: 44px 44px; */
  align-items: flex-start;

  grid-template-areas:
    'flogo . flogoTitle . fnav . fphone . flogin'
    'flogo . flogoSubtitle . confed . fphone . social';
}

.footer .logo {
  grid-area: flogo;
}

.footer .logo__title {
  grid-area: flogoTitle;
}

.footer .logo__subtitle {
  grid-area: flogoSubtitle;
}

.footer .footer__nav {
  grid-area: fnav;
}

.footer .confed {
  grid-area: confed;
}

.footer .phone__list {
  grid-area: fphone;
}

.footer .login__button {
  grid-area: flogin;
}

.footer .social__list {
  grid-area: social;
}

.footer .logo__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
}

.footer .logo__subtitle {

  font-size: 14px;
  line-height: 160%;
  color: var(--orange-dark);
}

.footer__nav ul,
.confed {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
  padding: 0;
  margin: 0;
}

.footer__nav li {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
}

.footer__nav li:hover,
.footer__nav li:active {
  color: var(--orange-dark);
}

.confed li {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--gray-dark);
  cursor: pointer;

  text-decoration-line: underline;
}

.confed li:hover,
.confed li:active {
  color: var(--orange-dark);

}

.phone__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;

  align-self: center;

}

.phone {
  display: block;
  white-space: nowrap;
}

.phone__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: var(--gray-dark);
  padding: 0;
  margin: 0;

  display: block;
}

.footer .login__button {
  border: 1px solid #000000;
  background-color: transparent;
  padding: 16px 0;
}

.social__list {
  align-self: end;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 12px;

}

.social__list li {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.social__list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.social__list li:hover svg,
.social__list li:hover svg {
  fill: var(--orange-dark);
}

@media (max-width: 1199px) {
  .footer__wrapper {
    grid-template-columns: 88px 1% 200px 200px auto;
    gap: 10px 0;
    grid-template-areas:
      'flogo . flogoTitle fnav fnav  '
      'flogo . flogoSubtitle confed confed '
      '. . fphone fphone fphone '
      '. . social  flogin  . ';
  }

  .footer .logo__title,
  .footer .logo__subtitle {
    font-size: 12px;
  }


  .phone__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .login__button {
    display: inline-block;
  }

}

@media (max-width: 991px) {
  .footer__wrapper {
    grid-template-columns: 88px 200px 200px 1fr;
    gap: 20px 20px;

    grid-template-areas:
      'flogo  flogoTitle  fnav fnav '
      'flogo  flogoSubtitle fnav fnav'

      '. confed  confed  confed  '
      ' . fphone fphone   fphone  '
      '.  flogin  social .';
  }

  .footer__nav ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    grid-template-columns: 88px auto;
    gap: 10px 18px;

    grid-template-areas:
      'flogo  flogoTitle'
      'flogo  flogoSubtitle'
      ' fnav fnav'

      'confed  confed  '
      ' fphone   fphone  '
      ' flogin flogin'
      ' social social';
  }


  .footer .logo__title,
  .footer .logo__subtitle {
    max-width: 180px;
  }

  .footer__nav ul {
    grid-template-columns: 1fr 1fr;
  }

  .social__list {
    justify-content: space-between;
  }
}

@media (max-width: 575px) {
  .footer__wrapper {
    grid-template-columns: 66px auto;
    gap: 0 18px;
  }

  .footer .logo__title,
  .footer .logo__subtitle {
    font-size: 9px;
  }

  .footer .logo__title {
    align-self: start;
  }

  .footer__nav ul,
  .phone__list {
    grid-template-columns: 1fr;
  }

  .footer .logo,
  .footer .footer__nav,
  .footer .login__button {
    margin-bottom: 20px;
  }

  .confed {
    display: none;
  }

  .phone__list {
    gap: 10px;
    margin-bottom: 30px;
  }


  .social__list {
    justify-content: start;
  }
}

/* </FOOTER> */

/* <main> */

.main__wrapper {
  display: flex;
}

.main-bg {
  width: 100%;
  display: block;
  background: url('../images/main-bg.png') no-repeat center right/ contain;
}

.main-content {
  max-width: 600px;
  width: 100%;
  flex-shrink: 0;
}


.main__title {
  display: flex;
  flex-direction: column;
}

.main__title .title--black {
  color: var(--black);
}

.main__title .title--gray {
  color: var(--gray);
}

.main__subtitle {
  margin-bottom: 60px;
  margin-top: 0;

  max-width: 560px;
}

@media (max-width: 991px) {
  .main-bg {
    display: none;
  }

}

@media (max-width: 767px) {
  .main__subtitle {

    max-width: 500px;
  }
}

@media (max-width: 575px) {
  .mobile.main-bg {
    display: block;
    background: url('../images/main-bg.png') no-repeat center/ contain;
    height: 180px;
    margin-bottom: 30px;
  }

  .section__main-content {
    margin-bottom: 60px;
  }

  .main__subtitle {
    font-size: 12px;
    margin-bottom: 18px;
  }

  .main__btn {
    display: block;
  }
}

/* <direction> */
#direction__list {
  margin: 0;
  padding: 0;
}

.direction__item {
  position: relative;

  border: 1px solid var(--gray);
  padding: 24px;

  transition: border-color .3s;
}



.direction-item__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.direction-item__image {
  width: 100%;
  margin-bottom: 20px;
}

.direction-item__title {
  margin-bottom: 10px;
}

.direction-item__subtitle {
  padding-bottom: 20px;
}

.direction-item__inner {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.wrapper-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 24px;
  background-color: transparent;

  transition: background-color .3s;
}

.direction-item__inner h5 {
  margin-left: 14px;
}

.direction__item .wrapper-arrow svg,
.direction-item__inner svg {
  fill: var(--gray);

  transition: fill .3s;
}



.direction__item:hover {
  border-color: var(--black);
  padding: 24px;
}

.direction__item:hover .wrapper-arrow {
  background-color: var(--orange);
}

.direction__item:hover .wrapper-arrow svg {
  fill: var(--white);
}

.direction__item:hover .direction-item__inner svg {
  fill: var(--orange);
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--gray);

  transition: background-color .3s;
}

.dot--active {
  background-color: var(--orange);
}

/* </direction> */

/* <popular-courses> */
.popular-courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'popularTitle popularLink'
    'popularList popularList';

  align-items: baseline;
}

.popular-courses__title {
  grid-area: popularTitle;
}

.popular-courses__link {
  grid-area: popularLink;
  justify-self: end;
}

.popular-courses__list {
  grid-area: popularList;
}


.popular-courses__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--orange);

  transition: color .3s;
}

.popular-courses__link:hover,
.popular-courses__link:active {
  color: var(--orange-dark);
}

.popular-courses__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-courses__item {
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.popular-courses__item:nth-child(3n-2) {

  background-color: var(--orange-dark);
}

.popular-courses__item:nth-child(3n-1) {

  background-color: var(--green-dark);
}

.popular-courses__item:nth-child(3n) {

  background-color: var(--green);
}

.popular-item__title {
  color: var(--white);
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .popular-courses__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 991px) {
  .popular-courses__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}


@media (max-width: 575px) {

  .popular-courses {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'popularTitle'
      'popularList'
      'popularLink';

    align-items: baseline;
  }

  .popular-courses__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .popular-courses__item {
    display: none;
  }

  .popular-courses__item:nth-child(1),
  .popular-courses__item:nth-child(2),
  .popular-courses__item:nth-child(3) {
    display: flex;
  }

  .popular-courses__item .btn-transparent {
    align-self: stretch;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .popular-courses__link {
    background-color: var(--gray-light);
    color: var(--black);
    text-decoration: none;
    justify-self: stretch;
    text-align: center;
    padding: 16px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    margin-top: 30px;
  }
}

/* </popular-courses> */

/* <help-choice> */
.section__help-choice {
  background: url(../images/help-choice-bg.jpg) no-repeat 20vw top /cover, linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%);
}

.help-choice {
  max-width: 80%;
  color: var(--white);
  padding: 240px 0;
  background: linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%);
}

.help-choice__subtitle {
  max-width: 500px;
  margin-bottom: 60px;
}

@media (min-width: 2000px) {
  .section__help-choice {
    background: url(../images/help-choice-bg.jpg) no-repeat 30vw top/cover, linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%);
  }
}

@media (max-width: 1199px) {
  .help-choice {
    padding: 20vw 0;
  }
}

@media (max-width: 767px) {
  .section__help-choice {
    background: url(../images/help-choice-bg.jpg) no-repeat 10vw top/cover, linear-gradient(90.62deg, #798073 51.28%, rgba(132, 138, 127, 0.85648) 63.49%, rgba(147, 152, 143, 0.662094) 76.66%, rgba(199, 201, 197, 0) 97.89%);
  }
}

@media (max-width: 575px) {
  .section__help-choice {
    background: linear-gradient(180deg, #798073 20vw, rgba(121, 128, 115, 0.296863) 80%, rgba(121, 128, 115, 0) 98.73%), url(../images/help-choice-bg.jpg) no-repeat center 20vw/cover;
  }

  .help-choice {
    max-width: 100%;
    padding-bottom: 110px;
    background: none;
  }

  .help-choice__subtitle {
    max-width: 500px;
    margin-bottom: 80px;
  }
}

/* </help-choice> */
/* </main> */